# Log Clean-up

This Notebook deletes Log rows which are older than the thresholds set in table: [dbo].[application_config] for the following databases
- eltsnap_v2
- elt_framework

## Log Clean-up for database: *eltsnap_v2*

In [ ]:
-- for eltsnap_v2
EXEC [dbo].[Log Delete];
SELECT 0 as status_code;

## Log Clean-up for database: *elt_framework*

In [ ]:
-- for elt_framework
EXEC [dbo].[Log Delete];
SELECT 0 as status_code;