# elt framework upgrade

## dbo.ELT_error_log dataflow

In [ ]:
SELECT * FROM dbo.ELT_error_log