# SQL Server Backup

This Notebook contains a single code cell that can be used to backup Databases on SQL Server.

## Backup Databases

1. Connect to a SQL Server Instance
2. Verify/update the value for **@backup_folder** in the code cell below

In [ ]:
DECLARE @backup_folder NVARCHAR(128) = /*${database_backup_folder}*/'D:\db backup'/**/

DECLARE @name NVARCHAR(50), @fileName NVARCHAR(256)
DECLARE db_cursor CURSOR FOR  
SELECT [name] FROM master.dbo.sysdatabases WHERE [name] NOT IN ('tempdb');  -- exclude these database(s)
 
OPEN db_cursor; 
FETCH NEXT FROM db_cursor INTO @name;   
WHILE @@FETCH_STATUS = 0   
BEGIN   
       SET @fileName = @backup_folder + '\' + @name + '.BAK'; 
       BACKUP DATABASE @name TO DISK = @fileName WITH NOFORMAT, INIT, SKIP, NOREWIND, NOUNLOAD,  STATS = 10;
       FETCH NEXT FROM db_cursor INTO @name;   
END   
CLOSE db_cursor;   
DEALLOCATE db_cursor;